<!DOCTYPE html>
<% include header.ejs %>

<script>function show() {
  document.getElementById('followUpPacemaker_2').style.visibility = "visible";
  }
</script>


<div class="followup-container">
  <div class="followup-sub-container">
    <div class="followup-form-container">

      <form class="follup-form" action="/home" method="post">


        <div class="followup-brain-container" id=<%= arr[0] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had brain/head injuries.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"  name="followUpBrainInjury">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueOne" name="followUpBrainInjury" >mild - with seizures
            <input type="radio" value="valueOne" name="followUpBrainInjury">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpBrainInjury">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followupBrainNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-seizures-container" id=<%= arr[1] %>>
          <div class="seizures-question">
            <strong>The patient has had or is not sure if they have had epilepsy/seizures. How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueSeven" name="followUpEpilepsy">has epilepsy
            <input class="followup-radio-button" type="radio" value="valueZero" name="followUpEpilepsy" >does not have epilepsy
            <input class="followup-radio-button" type="radio" value="na" name="followUpEpilepsy">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followupEpilepsyNotes" class="followup-textarea"></textarea>
          <hr>
         </div>

        <div class="followup-seizures-container" id=<%= arr[2] %>>
          <div class="seizures-question">
            <strong>The patient has had or is not sure if they have had vision or eyeproblems. Follow up vision test will be on a seperate page.</strong>
          </div>
         </div>
         <hr>

        <div class="followup-seizures-container" id=<%= arr[3] %>>
          <div class="seizures-question">
            <strong>The patient has had or is not sure if they have had hearing or ear problems. Follow up hearing questions will be on a seperate page.</strong>
          </div>
         </div>
         <hr>

        <div class="followup-seizures-container" id=<%= arr[4] %>>
          <div class="seizures-question">
            <strong>The patient has had or is not sure if they have had heart disease or other heart related issues. How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueThree" name="followUpHeart">myocardial infarction
            <input class="followup-radio-button" type="radio" value="valueFour" name="followUpHeart" >coronary artery bypass surgury
            <input class="followup-radio-button" type="radio" value="na" name="followUpHeart">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpHeartNotes" class="followup-textarea"></textarea>
          <hr>
         </div>

         <div class="followup-pacemaker-container" id= <%= arr[5] %>>
           <div class="pacemaker-question">
              <strong>The patient has had or is not sure if they have had a pacemaker. How would you best describe the patients status?</strong>
           </div>
           <div class="pacemaker-button">
             <input class="followup-radio-button" type="radio" value="valueFive" name="followUpPacemaker">AV block/sinus node dysfunction
             <input class="followup-radio-button" type="radio" value="valueEight" name="followUpPacemaker" >Neurocardiogenic syncope
             <input class="followup-radio-button" type="radio" value="valueSix" name="followUpPacemaker" >ICD defibralation
             <input class="followup-radio-button" type="radio" value="na" name="followUpPacemaker">N/A
           </div>
             <span>Can you verify documentation of a working Pacemaker?</span>
             <input class="followup-radio-button" type="radio" name="pacemakerDoc" value="yes">yes
             <input class="followup-radio-button" type="radio" name="pacemakerDoc" value="no">no
             <input class="followup-radio-button" type="radio" name="pacemakerDoc" value="na">N/A
             <div>Notes (optinal)</div>
           <textarea name="followupPacemakerNotes" class="followup-textarea"></textarea>
           <hr>
         </div>


         <div class="followup-bloodpressure-container" id=<%= arr[6] %>>
           <div class="bloodpressure-question">
              <strong>The patient has had or is not sure if they have had a history of high blood pressure. Follow up blood pressure tests will be on a seperate page.</strong>
           </div>
         </div>
         <hr>


<!-- ************************** NEW CARDS ************************************************ -->


        <div class="followup-brain-container" id=<%= arr[7] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had high cholesterol.
            How would you best describe the patients status?</strong>
          </div>
           <div class="bloodpressure-button">
            <select class="select" name="followUpHighCholesterol">
              <option value="na">none of these</option>
              <option value="0">Bumetanide (Bumex)</option>
              <option value="valueTwo">Chlorthalidone (Hygroton)</option>
              <option value="valueTwo">Chlorothiazide (Diuril)</option>
              <option value="3">Ethacrynate (Edecrin)</option>
              <option value="0">Furosemide (Lasix)</option>
              <option value="na">N/A</option>
            </select>
           </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpHighCholesterolNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[8] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had chronic cough or breathing problems. Does the patient have an established medical history or  clinical diagnosis of a respiratory
            dysfunction (i.e. emphysema, chronic asthma,  carcinoma, tuberculosis,
            chronic bronchitis) likely to interfere with ability to control and drive a  commercial motor vehicle safely?
            </strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpBreathingProblems">Yes
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpBreathingProblems" >No
            <input class="followup-radio-button" type="radio" value="na" name="followUpBreathingProblems">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followupBreathingProblemsNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[9] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had lung disease.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueNine"      name="followUpLungDisease">Oxygen therapy
            <input class="followup-radio-button" type="radio" value="valueTen" name="followUpLungDisease" >Cough syncope

            <input class="followup-radio-button" type="radio" value="na" name="followUpLungDisease">N/A
          </div>
          <div>Notes (optinal)</div>
          <span>What type/treatment of lung disease?</span>
          <textarea name="followupLungDiseaseNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[10] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had kidney problems.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpKidneyProblems">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpKidneyProblems" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpKidneyProblems">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followupKidneyProblemsNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[11] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had stomach, liver or digestive problems.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpStomachProblems">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpStomachProblems" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpStomachProblems">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followupStomachProblemsNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[12] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had diabetes or blood sugar problems.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpDiabetes">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpDiabetes" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpDiabetes">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followupDiabetesNotes" class="followup-textarea"></textarea>
          <hr>
        </div>



        <div class="followup-brain-container" id=<%= arr[13] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have used insulin.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpInsulin">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpInsulin" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpInsulin">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpInsulinNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[14] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had anxiety, depression or other mental health problems.
            Does the patient have a mental, nervous, organic or functional disease or
            psychiatric disorder likely to interfere with ability to drive a motor vehicle safely?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpAnxiety">Yes
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpAnxiety" >No
            <input class="followup-radio-button" type="radio" value="na" name="followUpAnxiety">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpAnxietyNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[15] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had fainting or passing out issues.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpFainting">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpFainting" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpFainting">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpFaintingNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[16] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had dizziness, headaches, numbness, tingling, or memory loss.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpDizziness">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpDizziness" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpDizziness">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpDizzinessNotes" class="followup-textarea"></textarea>
          <hr>
        </div>
        <div class="followup-brain-container" id=<%= arr[17] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had unexplained weight loss.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpUnExplainedWeightLoss">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpUnExplainedWeightLoss" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpUnExplainedWeightLoss">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpUnExplainedWeightLossNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[18] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had Stroke, mini-stroke (TIA), paralysis, or weakness.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpStroke">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpStroke" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpStroke">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpStrokeNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[19] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had missing or limited use of arm, hand, finger, leg, foot, toe.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpMissingLimbs">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpMissingLimbs" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpMissingLimbs">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpMissingLimbsNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[20] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had neck or back problems.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpBackProblems">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpBackProblems" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpBackProblems">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpBackProblemsNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

                <div class="followup-brain-container" id=<%= arr[21] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had bone, muscle, joint, or nerve problems.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpBoneProblems">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpBoneProblems" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpBoneProblems">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpBoneProblemsNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[22] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had blood clots or bleeding problems.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpBloodClots">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpBloodClots" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpBloodClots">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpBloodClotsNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[23] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had cancer.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpCancer">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpCancer" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpCancer">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpCancerNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[24] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had chronic (long-term) infection or other chronic diseases.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpChronicDiseases">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpChronicDiseases" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUpChronicDiseases">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpChronicDiseases">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpChronicDiseases" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[25] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had sleep disorders, pauses in breathing while asleep, daytime sleepiness, loud snoring.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpSleepDisorders">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpSleepDisorders" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpSleepDisorders">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpSleepDisordersNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[26] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had a sleep test (e.g., sleep apnea)?.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"     name="followUpSleepTest">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpSleepTest" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpSleepTest">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpSleepTestNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[27] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had ever spent a night in the hospital?.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"     name="followUpNightInHospital">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpNightInHospital" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpNightInHospital">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpNightInHospitalNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[28] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had a broken bone.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpBrokenBone">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpBrokenBone" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpBrokenBone">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpBrokenBoneNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[29] %>>
          <div class="followup-question">
            <strong>The patient uses or used to use tobacco.
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo"      name="followUpUseTobacco">mild - without seizures
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpUseTobacco" >mild - with seizures
            <input type="radio" value="valueTwo" name="followUp">moderate - without seizures
            <input class="followup-radio-button" type="radio" value="na" name="followUpUseTobacco">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpUseTobaccoNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[30] %>>
          <div class="followup-question">
            <strong>The patient currently drinks alcohol.
            Does the patient show signs of an alcohol use problem?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpDrinkAlcohol">Yes
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpDrinkAlcohol" >No
            <input class="followup-radio-button" type="radio" value="na" name="followUpDrinkAlcohol">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpDrinkAlcoholNotes" class="followup-textarea"></textarea>
          <hr>
        </div>

        <div class="followup-brain-container" id=<%= arr[31] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have used an illegal substance within the past two years.
            Does the patient currently  use any drug or substance identified in <a id="want-a-link" href="http://www.deadiversion.usdoj.gov/21cfr/cfr/1308/1308_11.htm">21
            CFR 1308.11</a>,  an amphetamine, a narcotic, or
            other habit-forming drug.?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpIllegalSubstance">Yes
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpIllegalSubstance" >No
            <input class="followup-radio-button" type="radio" value="na" name="followUpIllegalSubstance">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpIllegalSubstanceNotes" class="followup-textarea"></textarea>
          <hr>
        </div>


        <div class="followup-brain-container" id=<%= arr[32] %>>
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have ever failed a drug test or been dependant on an illegal substance.
            Has the patient ever failed a drug test or been dependant on an illegal substance?</strong>
          </div>
          <div class="followup-radio-container">
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpFailedDrugTest">Yes
            <input class="followup-radio-button" type="radio" value="valueTwo" name="followUpFailedDrugTest" >No
            <input class="followup-radio-button" type="radio" value="na" name="followUpFailedDrugTest">N/A
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followUpFailedDrugTestNotes" class="followup-textarea"></textarea>
          <hr>
        </div>




<h5 class="top-header">SECTION 2. Examination Report (to be filled out by the medical examiner)</h5>
  <div class="header-container">
    <div class="table-header table-header2">DRIVER HEALTH HISTORY REVIEW</div>
  </div>
  <div class=" container full-container full-container2">
    <!-- <form action="/historyreview" method="post" name="frmSurvey"> -->
      <div class="row">
        <div class="col-md-12 history-table">
        <div>Review and discuss pertinent driver answers and any available medical records. Comment on the driver's responses to the "health history" questions that may affect the driver's safe operation of a commercial motor vehicle (CMV).</div>
        <div class= "col-md-13">
          <textarea class="textareaborder" rows="5" cols="80" name="historyReview">
          </textarea>
        </div>
        </div>
        </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input type="submit" value="Save Changes" class="btn btn-primary submitBtn"/><span></span>
                <input type="reset" value="Clear form" class="btn btn-default clearBtn"/>
              </div>
            </div>
      </div>
    <!-- </form> -->
  </div>







      </form>
    </div>
  </div>
</div>
<% include footer.ejs %>

