<!DOCTYPE html>
<% include header.ejs %>
<div class="land-super-container">
  <div class="land-container">
    <div class="welcome-text">
      Welcome to the exam home page. You will be redirected back here after each exam segment. There are five segments to complete before the exam is finished. The patient should have already filled out his or her demographics and health history. The links are on the left. It is recommend to go in order.
    </div>
    <div class="link-container">
      <ul class="land-ul-new">
        <li class="land-li"><a class="land-a <%= x.demographics %>" id="" href="../demographics/<%= sessionId %>">Demographics</a></li>
        <li class="land-li"><a class="land-a <%= x.history %>" href="../history/<%= sessionId %>">History</a></li>
        <li class="land-li"><a class="land-a <%= x.historyreview %>" href="../home/<%= sessionId %>">History Review</a></li>
        <li class="land-li"><a class="land-a <%= x.testing %>" href="../testing/<%= sessionId %>">Testing</a></li>
        <li class="land-li"><a class="land-a <%= x.vision %>" href="../vision/<%= sessionId %>">Vision</a></li>
        <li class="land-li"><a class="land-a <%= x.hearing %>" href="../hearing/<%= sessionId %>">Hearing</a></li>
        <li class="land-li"><a class="land-a <%= x.physicalexam %>" href="../physicalexamination/<%= sessionId %>">Physical Exam</a></li>
        <li class="land-li"><a class="land-a" href="../end/<%= sessionId %>">Finish</a></li>

      </ul>
    </div>
  </div>
</div>










<% include footer.ejs %>
