<!DOCTYPE html>
<% include header.ejs %>

  <div class="search-super-container">
    <div class="search-sub-container">
      <h4 class="search-error"><%= error %></h4>
      <form class="search-form" method="post" action="/search">
        <div class="search-div-id"><input class="search-input-id" type="text" name="sessionId">session id</div>
        <div id="topad">
         <input type="submit" value="Search" class="btn btn-primary submitBtn search-btn" /><span></span>
        </div>

        <h4 class="or-search">Or search by last name and birthday</h4>
        <div class="search-div-lastname"><input class="search-input-lastname" type="text" name="lastname">last name</div>
        <div class="search-div-dob"><input class="search-input-dob" type="date" name="dob">date of birth</div>


        <div id="topad">
        <input type="submit" value="Search" class="btn btn-primary submitBtn search-btn" /><span></span>
        </div>
      </form>
    </div>
    <div class="list">
      <h4 class="list-header">Below are the last few people registered.</h4>
      <table>
        <col width="130">
        <col width="80">
        <th class="list-name">Name</th>
        <th class="list-dob">DOB</th>
        <% for(var i=0; i < last.length; i++) { %>
           <tr>
             <td><a href="../landing/<%= last[i].sessionId %>"><%= last[i].firstname + ' ' + last[i].lastname %></a></td>
             <td><a href="../landing/<%= last[i].sessionId %>"><%= last[i].dob %></a></td>
           </tr>
        <% } %>
      </table>
      <h5>Not who you're looking for?<br>Try the search form to the right.</h5>
    </div>
  </div>


  <% include footer.ejs %>
